<footer>
<hr>
    <h1>Find Us At</h1>

    <div class="footerCols">
    <div class="boxA"> <img src="/HomePage/FooterLogo.png" alt="" class="logofooter"></div>

    <div class="boxB">
        <div class=textContent>
        <h2>Address</h2>
        <ul><li>Dino Park Adventure</li>
            <li>12, Routes des Fossiles </li>
            <li>Saint-Roch-sur-Isère, France </li>
        </ul>
        </div>
    </div>
    
    <div class="boxC">
        <div class=textContent>
        <h2>Contact</h2>
        <ul><li>contact@parc-dinosaures.fr</li>
            <li>Opening Hours</li>
            <li>9:00AM - 7:00 PM </li>
        </ul>
        </div>
    </div>
      
    <div class="boxC">
         <div class=textContent>
        <h2>Information</h2>
        <ul><li>Our Dinos</li>
            <li>Book Ticket</li>
            <li>Group Bookings</li>
        </ul>
        </div>
    </div>

    <div class="boxD"> <img src="/HomePage/footerDino.png" alt="" class="logofooter1">
    </div>
    
    </div>

</footer>

<script src="/js/bookingForm.js"></script>
    </body>
</html>