<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Dino Park Adventure</title>
  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/Bookingform.css">
  <link rel="stylesheet" href="/css/adminlogin.css">
    <link rel="stylesheet" href="/css/dino.css">


  <link rel="icon" type="image/gif" sizes="16x16" href="/favicon/favicon.gif">
    
</head>
<body>
    <%- include("nav.ejs") %> 