<%- include("../partials/head", { title: "Dino Park Adventure" }) %>


<h2>Hello! This page belongs to the admin, the dino team which makes it all happen!</h2>

<div class="loginForm">
<form class="adminSignIn">
    <div class="form-group">

    <label for="username">Username</label>
    <input class="form-control" type="text" name="uname" placeholder="Enter Username">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="psw" placeholder="Enter Password">
    </div>
    <div class="formSubmitAdmin">
      <button type="submit" class="loginbtn">LOGIN</button>
    </div>
</form>    
</div>