<%- include("../partials/head", { title: "Accueil Talent Hub" }) %>


<div class="bookingSummary">

<img src="/BookingPage/bookingSummaryImage.png" alt="dinoImage" class="bookingSummaryImage">

<h2>Booking Summary</h2>
<div class="bookingSummaryDetails">
<p> UNICODE</p>
<p> Name : Full Name of Person</p>
<p>Date of Visit : 14/ 12 / 2025 </p>
<p> Total Price Paid: $something </p>
</div>



</div>
<div class="exploreBtn">
<a href="/" class="exploreText"> EXPLORE THE PARK </a>
</div>