*{
    background-color: black;
    color: #ffff;  
    margin:0;
    padding:0; 
}

p{
font-family: 'Ibm Plex Sans';
font-size: 14px;
}

h2,h1,h3{
    font-family: 'Oswald';
    font-weight: 500;
}
.bannerImageDesktop{
    width: 100%;
    cursor:default;
}

.bannerImageMobile{
    display: none;
}

.oneUSP,.twoUSP,.threeUSP{
display: flex;
flex-direction: column;
gap: 10px;
width: 250px;
}

.USPimage{
width: 250px;
}

.USPtext{
    width: 250px;
    text-wrap: wrap;
}

.brandUSPs{
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 30px;
    justify-content: center;
}

.BookNowBtn{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.bookNowText{
    background-color: #D19340;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    
    }

.bookNowText:hover{
        background-color: #99910a;  
    }

.exploreMap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.exploreMapText{ 
    text-align: center;
    margin: 0px 25px;
}

.map{
    width: 80%;
    border-radius: 10px;
}

.downloadMap{
    padding: 10px 20px;
    background-color: #D9A866;
    border-radius: 5px;
    border: none;
    color: black;
    font-family: 'Oswald';
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;

}


.oneUSP,.twoUSP,.threeUSP{
display: flex;
flex-direction: column;
gap: 10px;
width: 250px;
}

.USPimage{
width: 250px;
}

.USPtext{
    width: 250px;
    text-wrap: wrap;
}

.brandUSPs{
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 30px;
    justify-content: center;
}


.ticketItems{
    display: flex;
    flex-direction: row;
    margin: 40px;
    gap: 30px;
    justify-content: center;    
}

.ticketCard{
display: flex;
flex-direction: column;
gap: 10px;
width: 250px;
background-color: #6f4b1c;
border-radius: 10px;
border: 2px solid #6f4b1c;
height: 240px;
}


.ticketInfo{
    width: 220px;
    background-color: #6f4b1c;
    padding: 10px;   
}



.ticketName{
    font-size: 24px;
    font-weight: 300;
    background-color: none;
    padding: 10px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}




@media (max-width: 768px) {
    .bannerImageDesktop {
        display: none;
    }
    .bannerImageMobile {
        display: block;
        width: 100%;
    }

    .brandUSPs{
        display: flex;
        flex-direction: column;
        gap: 45px;
        justify-content: center;
        align-items: center;
    }

    .oneUSP,.twoUSP,.threeUSP{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    }

    .exploreMapText{
        text-align: center;
        max-width: 300px;
    }

    .ticketItems {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
    align-items: center;
}    
}
